@{
    ViewBag.Title = "HomeTask";
}

<div class="bottom_menu_block">
    <span id="GetUserList" class="btn btn-default botmeny_items">Get user list</span><br />
    @Ajax.ActionLink("Get user by id", "GetUserById", null, new AjaxOptions { UpdateTargetId = "JsonData" }, new { @class = "btn btn-default botmeny_items" })<br />
    @Ajax.ActionLink("Add new user", "AddUser", null, new AjaxOptions { UpdateTargetId = "JsonData" }, new { @class = "btn btn-default botmeny_items" })<br />
    @Ajax.ActionLink("Update user", "UpdateUser", null, new AjaxOptions { UpdateTargetId = "JsonData" }, new { @class = "btn btn-default botmeny_items" })<br />
    @Ajax.ActionLink("DeleteUser", "DeleteUser", null, new AjaxOptions { UpdateTargetId = "JsonData" }, new { @class = "btn btn-default botmeny_items" })<br />
</div>

<div class="content_block">
    <div class="content">
        <div id="JsonData"></div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/scripts/customScript-1.0.js")
}
