<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/scripts/jquery-1.8.2.js")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
</head>
<body>
    <div class="site">
        <div class="logo_block">
            <img src=@Url.Content("/Content/logo.png") />
            <div class="logo_name">
                <font size="6" color="#757171">EPAM SYSTEMS</font> <br />
                <font size="5" color="#757171">UI LAB TRAINING</font>
            </div>
            <div class="authorize_block">
                @if (User.Identity.IsAuthenticated)
                {
                    <span>@HttpContext.Current.User.Identity.Name</span>
                    @Html.ActionLink("Logout", "LogOut", "Account", null, new { @class = "btn btn-default" })
                }
                else
                {
                    <span>Please, log in</span>
                    @Html.ActionLink("Login", "LogIn", "Account", null, new { @class = "btn btn-default" })
                    @Html.ActionLink("Register", "Register", "Account", null, new { @class = "btn btn-default" })
                }
            </div>
        </div>
        <div class="top_menu_block">
            <span class="btn btn-default">About UI lab</span>
            @Html.ActionLink("Home Tasks", "HomeTask", "Home", null, new { @class = "btn btn-default" })
            <span class="btn btn-default">Test & Exams</span>
        </div>
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
